<footer>
    <h2>Kontakt</h2>
    <div class="footer-columns">
      <div class="footer-box">
        SOCIALS:
      </div>
      <div class="footer-box"></div>
    </div>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>