<footer>
    <h2>Kontakt</h2>
    <div class="footer-columns">
      <div class="footer-box">
        <div class="socials">
          <a href="https://www.instagram.com/code.korel/"><img src="/img/instagram_icon.png" alt=""></a>
          <a href=""><img src="/img/email.webp" alt=""></a>
          <a href=""><img src="" alt=""></a>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>