<section class="content">
    <h2>Infos</h2>
    <div class="flexbox">
        <aside class="sidebar">


        <p class="text" data-text="
        /nlet data = { 
        /n    name: 'Korel',
        /n    surname: 'Özekin',
        /n    from: 'Fulda, Hessen'
        /n    age: 26;
        /n    }
        /n 
        /n 
        /nlet hobbys = {
   	    /n    fussball: [
        /n        verein: 'SG Marbach/Dietershan',
        /n        position: 'LM',
        /n        mitglied: 'seit 2017',
        /n        ],
		/n    aktivitaeten: [
        /n        'Basketball',
        /n        'Volleyball',
        /n        'Mountainbiking',
        /n        'Camping',
        /n        'Malen',
        /n        'Reisen'
        /n        ],
        /n    mich: [
        /n        'Tee liebhaber',
        /n        'Tiermensch',
        /n        'Familienmensch'
        /n        ]
        /n    }
		/n
        /n echo('Hello World');"></p>
        </aside>
        <div class="main-content"><img src="/img/lf.jpg"> </div>
    </div>
    <div class="wide-content"></div>
    <div class="line"></div>
</section>