<nav>
    <div class="navbar">
      <div class="logo">◯</div>
      <nav>
        <a href="#">Home</button>
        <a href="#">Über uns</button>
        <a href="#">Kontakt</button>
      </nav>
    </div>
</nav>