<nav>
      <div class="logo"><a href="#"> <img src="/img/1Korel-Logo.png"> </a></div>
      <div class="nav-links">
        <a href="#">Home</a>
        <a href="#">Portfolio</a>
        <a href="#">Infos</a>
        <a href="#">Kontakt</a>
      </div>
</nav>